@font-face{
	font-family: 'Baloo';
	src: url('fonts/Baloo_Chettan_2/BalooChettan2-Medium.ttf');
}
@font-face{
	font-family: 'Bitter';
	src: url('fonts/Bitter/Bitter-Italic.ttf');
}
@font-face{
	font-family: 'Pacifico';
	src: url(fonts/Pacifico/Pacifico-Regular.ttf);
}